---
import "../styles/styles.css";
import Image from "astro/components/Image.astro";
import Link from "../components/ui/Link.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/section/Section.astro";
---

<Layout title="Error">
    <Section>
        <div class="flex flex-col items-center">
            <Image
                loading={"eager"}
                class="rounded-xl mb-8"
                src={"/src/assets/ruben.gif"}
                width={300}
                height={198}
                alt={"minion gif"}
            />
            <h3 class="text-lg">Oooopps!</h3>
            <span class="text-4xl mb-3 sm:text-3xl">Sorry Not Found!</span>
            <Link variant="default" size="lg" href="/">Go Back!</Link>
        </div>
    </Section>
</Layout>
