---
import Section from "../components/section/Section.astro";
import Layout from "../layouts/Layout.astro";
import data from "../lib/stack.json"
import { Icon } from "astro-icon/components";
---

<Layout title="About">
    <Section>
        <article class="prose prose-lg" transition:name="swap">
            <h1>Welcome to my now page</h1>
            <p>I'm a frontend web developer and digital marketing enthusiast especially with a primary focus on SEM, SEO and Web Development using JavaScript framework.</p>
            <h2>What I'm doing now</h2>
            <ul>
                <li>Working full time</li>
                <li>Building a replica of our home out of Lego</li>
                <li>Trying for the nth time to get into shape</li>
                <li>Tweaking this website</li>
            </ul>
            <h3>Popular technologies I'm using</h3>
            <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mt-8 not-prose">
                {data.stack.map((item) =>(
                    <a href={`${item.url}`} class="not-prose flex flex-col items-center justify-center gap-2 border border-zinc-800 rounded-2xl p-4 hover:bg-zinc-900 transitionSetting">
                        <Icon name={item.icon} size={25} />
                        <span class="whitespace-nowrap">{item.name}</span>
                    </a>
                ))}
            </div>
        </article>
    </Section>
</Layout>