---
import Contact from '../components/Contact.astro';
import Hero from '../components/Hero.astro';
import ProjectList from '../components/ProjectList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muhammad Ihsan">
	<div class="max-w-screen-lg px-4 py-8 mx-auto">
		<Hero />
		<Contact />
		<ProjectList />
	</div>
</Layout>
