---
import { Icon } from "astro-icon/components"
import ButtonCopy from "./react/ButtonCopy"
import Link from "./ui/Link.astro"

---

<div class="py-16">
    <div class="flex items-center gap-2">
        <Link href="/" variant="default" size="lg">
            <Icon name={'whatsapp'} size={22} />
            WhatsApp
        </Link>
        <Link href="/" variant="default" size="lg">
            <Icon name={'whatsapp'} size={22} />
            GitHub
        </Link>
    </div>
</div>