---
import { Icon } from "astro-icon/components";
import NavLink from "./ui/NavLink.astro";
---
<div class="relative w-full max-w-screen-lg mx-auto py-4 px-4 border-x-[1px] border-b-[1px] border-white/20">
    <div class="flex items-center justify-between relative">
        <a href="/" class="flex items-center font-[clash] font-semibold text-2xl select-none">
            coihsan
        </a>
        <div class="flex items-center gap-2">
            <span class="text-zinc-400">menu</span>
            <div class="relative flex items-center justify-center">
                <input class="cursor-pointer opacity-[0.5] absolute size-9 z-10" type="checkbox" id="toggle-checkbox">
                <Icon class={'size-9'} name={'reactjs'} />
            </div>
        </div>
        <div style="display: none;" id="sidenav" class="absolute top-14 w-full z-50">
            <nav class="bg-zinc-900 rounded-lg shadow-lg p-6 flex items-center flex-col gap-4 w-full h-full">
                <NavLink href={'/'}>Home</NavLink>
                <NavLink href={'/about'}>About</NavLink>
                <NavLink href={'/stack'}>Stack</NavLink>
                <NavLink href={'/projects'}>Projects</NavLink>
            </nav>
        </div>
    </div>
</div>