---
import DekstopNav from "./DekstopNav.astro";
import MobileNav from "./MobileNav.astro";
---

<div>
  <div id="desktop-nav" class="hidden md:flex">
    <DekstopNav />
  </div>
  <div id="mobile-nav" class="flex md:hidden">
    <MobileNav />
  </div>
</div>
