---
const createRoutes = <const TRoutes extends string[]>(
	routes: TRoutes, 
) => {
	return routes
}
const routes = createRoutes(["home", "about", "contact"]);
---
<nav>
    <ul class="flex items-center gap-4">
        {routes.map((route) =>(
            <li>
                <a href={`/${route}`}>{route}</a>
            </li>
        ))}
    </ul>
</nav>