---
import { Icon } from "astro-icon/components"
import ButtonCopy from "../react/ButtonCopy"
import Link from "../ui/Link.astro"
import Section from "./Section.astro"

---

<Section>
    <h3 class="h1">Have idea for web?</h3>
    <div class="grid md:grid-cols-3 gap-2">
        <ButtonCopy client:only />
        <Link href="/" variant="default" size="lg">
            <Icon name={'whatsapp'} size={22} />
            WhatsApp
        </Link>
        <Link href="/" variant="default" size="lg">
            <Icon name={'whatsapp'} size={22} />
            GitHub
        </Link>
    </div>
</Section>