---
import { Icon } from "astro-icon/components"
import Link from "../ui/Link.astro"
import Section from "./Section.astro"
---
<Section paddingYDefault>
    <div class="flex flex-col gap-4">
        <h3 class="titleSection">Have idea for web?</h3>
        <div class="flex gap-2">
            <a href="/" class="flex items-center gap-2 rounded-2xl bg-white font-semibold text-black h-12 px-6">
                <Icon name={'whatsapp'} size={22} />
                WhatsApp
            </a>
        </div>
        <div class="flex gap-2 items-center">
            <Link href="/" variant="outline" size="icon">
                <Icon name={'github'} size={22} />
            </Link>
            <Link href="/" variant="outline" size="icon">
                <Icon name={'github'} size={22} />
            </Link>
        </div>
        <code class="text-zinc-400 mt-6 text-sm">Last update — 3 September {new Date().getFullYear()}</code>
    </div>
</Section>