---
import { Icon } from "astro-icon/components"
import Link from "../ui/Link.astro"
import Section from "./Section.astro"
---
<Section>
    <h3 class="h1">Have idea for web?</h3>
    <div class="flex gap-2">
      <button onclick="useButtonCopy()">Email me</button>
        <Link href="/" variant="default" size="lg">
            <Icon name={'whatsapp'} size={22} />
            WhatsApp
        </Link>
        <Link href="/" variant="outline" size="icon">
            <Icon name={'github'} size={22} />
        </Link>
    </div>
    <code class="text-center mx-auto text-zinc-400 mt-6 text-sm">Last update — 3 September {new Date().getFullYear()}</code>
</Section>