---
import { Icon } from "astro-icon/components";
import { footer } from "../../lib/constant";
import Section from "./Section.astro";
const thisYear = new Date().getFullYear()
---

<Section border="border-t-[1px]">
    <div class="md:flex items-center md:justify-between w-full">
        <div class="flex items-center gap-2 w-full">
            <span class="text-xs">© {thisYear} - Development by coihsan</span>
            <Icon name={'slash'} />
            <small class="text-xs">Built with <a class="text-green-400" href="https://astro.build">{Astro.generator}</a></small>
        </div>
        <div class="flex items-center gap-4 pt-2 md:pt-0">
            {footer.map((menu) =>(
                <a href={menu.href} class="text-zinc-400 text-sm">{menu.title}</a>
            ))}
        </div>
    </div>
</Section>