---
import { Image } from "astro:assets";


---

<div class="container">
    <h1 class="text-3xl font-bold text-center">˗ˏˋIhsanˎˊ</h1>
    <h2 class="font-[clash] text-4xl md:text-5xl font-semibold text-center">Frontend Dev <br>& Digital Marketing</h2>
    <Image loading={'eager'} class="mx-auto rounded-xl mt-8" src={'/src/assets/minion.gif'} width={400} height={198} alt={'minion gif'} />
</div>