---
import { Icon } from "astro-icon/components"
import Section from "./Section.astro"

const skills = ["Frontend Developer", "Backend Developer", "SEO Specialist", "UI/UX Designer", "Fullstack Developer"]
---

<Section borderB>
    <ul class="flex items-center justify-between h-12 flex-nowrap gap-5 w-full overflow-hidden">
        {skills.map((skill, index) => (
            <li class="flex-1 font-[clash] flex items-center leading-none uppercase gap-3 whitespace-nowrap text-3xl font-bold">
                <Icon name={'linehorizontal'} />
                <span>{skill}</span>
            </li>
        ))}
    </ul>
</Section>