---
import { Icon } from "astro-icon/components"
import Section from "./Section.astro"
const skills = ["frontend web developer", "Digtal Marketing", "UI/UX Designer", "Graphic Designer"]
---
<Section>
    <div class="overflow-hidden">
        <ul class="autoscroll will-change-scroll flex items-center justify-evenly h-12 flex-row gap-5 w-full">
            {skills.map((skill) => (
                <li class="linkscroll flex items-center flex-1 font-[clash] leading-none uppercase gap-3 whitespace-nowrap">
                    <Icon name={'spark'} />
                    <span class="text-3xl font-semibold">{skill}</span>
                </li>
            ))}
        </ul>
    </div>
</Section>