---
interface Props {
  border: string;
  className?: string;
}
const { border, className } = Astro.props
---

<section class={`relative w-full max-w-screen-lg mx-auto py-12 px-9 lg:py-16 xl:py-16 ${border} ${className} border-dashed border-x-[1px] border-white/20`}>
      <main class="max-w-screen-lg mx-auto w-full h-full px-5">
        <span class="absolute top-0 left-0 w-5 h-px bg-zinc-600"></span>
        <span class="absolute top-[-10px] left-0 h-5 w-px bg-zinc-600"></span>
        <span class="absolute top-0 right-0 w-5 h-px bg-zinc-600"></span>
        <span class="absolute top-[-10px] right-0 h-5 w-px bg-zinc-600"></span>
        <slot />
      </main>
</section>