---
import Section from './Section.astro'
import NextJS from '../ui/NextJS.astro'
import ReactJS from '../ui/ReactJS.astro'
import AstroBanner from '../ui/AstroBanner.astro'
import Tags from '../ui/Tags.astro'
const skilldev = ["Portfolios", "Blog", "Web", "Saas"]
---
<Section borderB paddingYDefault borderT>
    <div class="mb-6">
        <h1 class="h1">The React Framework for the Web</h1>
    <ul class="flex items-center flex-wrap gap-2">
        {skilldev.map((items) =>(
            <Tags size='lg' variant="other">
                <span class="text-zinc-500">#</span>
                {items}
            </Tags>
        ))}
    </ul>
    </div>
    <div class="grid gap-4 md:grid-flow-col md:grid-rows-2 lg:grid-flow-col h-auto">
        <ReactJS gridClass='row-auto md:row-span-1 md:col-span-2 lg:row-span-2' />
        <NextJS />
        <AstroBanner />
    </div>
</Section>