---
import "../styles/styles.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/section/Footer.astro";
import Overlay from "../components/ui/Overlay.astro";
import BaseHead from "./BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead thisSite="Muhammad Ihsan" title={'Home'} description="Muhammad Ihsan's personal website" />
	</head>
	<body class="px-4">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
