---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className , ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a data-astro-prefetch href={href} class:list={[{active : isActive}, "max-sm:text-2xl px-3 lg:px-4 text-zinc-400 flex items-center justify-center py-2 max-sm:py-6"]} {...props}>
	<slot />
</a>
<style>
	a.active{
		color: #D9D9D9;
		font-weight: bold;
	}
</style>