---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className , ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a data-astro-prefetch href={href} class:list={[{active : isActive}, "text-zinc-400 whitespace-nowrap"]} {...props}>
	<slot />
</a>
<style>
	a.active{
		color: #ffffff;
		font-weight: bold;
	}
</style>