---

---
<div class={`bg-gradient-to-b fixed top-0 left-0 w-full h-20 from-[#070709] to-transparent z-10`}></div>
<div class={`bg-gradient-to-t fixed bottom-0 left-0 w-full h-20 from-[#070709] to-transparent z-10`}></div>