---
interface Props{
    gridClass: string;
}
import { Icon } from 'astro-icon/components';
const { gridClass } = Astro.props as Props
---
<div 
  class={`${gridClass} flex flex-col items-center justify-center bg-zinc-950 w-full lg:h-full h-72 relative border border-zinc-800 rounded-lg p-5 group mx-auto group overflow-hidden`}>
    <div class="flex items-center justify-center w-full">
        <Icon name="reactjs" size={"4rem"} />
    </div>
    <span
      class="flex items-end justify-between mt-3"
    >
      <div class="flex flex-col items-center w-full lg:w-[80%] mx-auto">
        <h2 class="text-[1.5rem] font-bold">React JS</h2>
        <p class="text-zinc-200 text-center textxs">
          The library for web and native user interfaces
        </p>
        <a class="py-2 px-4 font-semibold bg-white hover:bg-zinc-200 transitionAll text-zinc-700 rounded-full mt-3" href="https://react.dev/" target="_blank" rel="noopener noreferrer">Get Started</a>
      </div>
    </span>
  </div>